<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="EappSuite">
	<test name="chrometest"  thread-count="5" >
<!--		<parameter name="browser" value="chrome" />-->
		<classes>
			<class name="TestNGPackage.EappAutomationTestCases">
				<methods>
<!--					<parameter name="userNameData" value="admin" />-->
<!--					<parameter name="passwordData" value="password" />-->
<!--					<parameter name="confirmPasswordData"-->
<!--						value="passwordforAdmin" />-->
<!--					<parameter name="email" value="email@gmail.com" />-->

					<include name="UserRegistration" />
					<include name="EappLogin" />
					<include name="EappHomePage" />
					<include name="EappAboutPage"/>
					<include name="EappEmployeeList"/>
					<include name="DoTest"/>
				</methods>
			</class>
		</classes>
	</test>
	<test name="firefoxTesting">
<!--		<parameter name="browser" value="chrome" />-->
		<classes>
			<class name="TestNGPackage.EappAutomationTestCases">
				<methods>
<!--					<parameter name="userNameData" value="admin" />-->
<!--					<parameter name="passwordData" value="password" />-->
<!--					<parameter name="confirmPasswordData"-->
<!--						value="passwordforAdmin" />-->
<!--					<parameter name="email" value="email@gmail.com" />-->

					<include name="EappHomePage" />
				</methods>
			</class>
		</classes>
	</test>
</suite> <!--
EappSuite -->
